[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
main = "python updater_api/main.py"
api = "bash -c 'cd updater_api && python run.py'"
